.slideshow {
    position: relative;
    width: 100%;
    height: 100%;

    &__item {
      &:not(:first-child) {
        display: none;
      }
    }

    &__figure {
      position: relative;
      height: 60%;
      width: 60%;
      margin: 0 auto;

      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
    }

    &__figure-img {
      // position
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      // decoration
      box-shadow: 0 10rem 10rem rgba($color-black, 1);

      // animation
      backface-visibility: hidden;
      transform: scale(1.25);
      transition: all .5s;
    }

    &__figure-caption {
      // position: absolute;
      // top: 50%;
      // left: 50%;

      // transform: translate(-50%, 50%);
      // transform: translate(-50%, -50%);
      color: $color-black;
      font-size: 1.7;
      text-transform: uppercase;
      text-align: center;
      top: 50%;
      // opacity: 0;

      transition: all .5s;
      backface-visibility: hidden;
    }

    &__arrow-container {
    }

    // ARROW
    &__arrow {
      //
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      // decoration
      font-size: 4em;
      text-decoration: none;
      color: $color-grey-dark-2;
    }
    &__arrow--left {
      text-align: left;
      left: 0;
    }
    &__arrow--right {
      text-align: right;
    }

    // DOTS
    &__dot-nav {
      padding: 2rem 0;
    }

    &__dot {
      display: inline-block;
      height: .9rem;
      width: .9rem;
      background: $color-grey-dark-2;
      border-radius: 50%;
      
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      transition: all 0.2s;

    }

    // ANIMATION
    &__figure:hover &__figure-img {
      transform: scale(1.1);
      filter: blur(2px) brightness(80%);
    }

    &__figure:hover &__figure-caption {

    }

}

