.feature {

    &__list {
        list-style: none;
        display: table;
        table-layout: fixed;
        width: 100%;
        margin: 0;
    }

    &__item {
        display: table-cell;
        &:not(:last-child) {
            margin-right: 20rem;
        }
    }

    &__group {
        display: block;
        margin: auto;
        text-align: center;
    }

    &__heading {
        display: block;
    }
 
    &__paragraph {
        font-size: 1.4rem;
        font-weight: 300;
        display: inline-block;
        width: 80%;
    }
} 